@{
    ViewData["Title"] = "Página Inicial do MyHealthLife";
}

<div class="home-container">
    <img src="~/img/Logo.png" alt="Logo MyHealthLife" class="home-logo">
    <h1 class="home-title">Página Inicial do MyHealthLife</h1>
    <p class="home-subtitle">
        Bem-vindo à sua jornada de saúde e bem-estar!
    </p>

    <a class="btn home-btn" asp-controller="Auth" asp-action="Login">Saiba Mais</a>
</div>
